@charset "UTF-8";

/************************************************************************
*****************ページ全体に適応するスタイルシート***********************
*************************************************************************/

body {
	margin: 0;
	padding: 0;
	font-family: "Rounded Mplus 1c";
	background-image: url(backimage_003.png);
	background-image: url(../picture/backimage_003.png);
}

/************************************************************************
*****************ページに適応するスタイルシート***********************
*************************************************************************/

#body {
    display: flex;
}

.heightMenu {
  background-color: rgba(77, 176, 238, 0.82);
  width: 12em;
  height: 35em;
}

#weightBody {
  background-color: rgba(241, 127, 84, 0.87);
  height: 10em;
}
